.postAvatar img {
    width: 60px;
}

.postAvatar {
    grid-area: postAvatar;
}

.postText {
    grid-area: postText;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding-top: 45px;
    font-size: large;
}

.post {
    display: grid;
    grid-area: postMessage;
    grid-template-areas: 
        "postAvatar postText"
        "postLike postLike";

    grid-template-columns: 1fr 19fr;
    grid-template-rows: 1fr 6fr;
    height: 100px;
    background-color: cadetblue;
    border: solid;
    margin: 1px;
}

.postLike{
    display: grid;
    grid-area: postLike;
    color: white;
}