.postAvatar img {
    width: 30px;
}

.postAvatar {
    grid-area: postAvatar;
}

.postText {
    grid-area: postText;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.post {
    display: grid;
    grid-area: postMessage;
    grid-template-areas:
        "postAvatar postText";
    grid-template-columns: 1fr 10fr;
    grid-gap: 10px;
    height: 50px;
    background-color: cadetblue;
}