/*Posts*/

.title {
    grid-area: postsTitle;
    background-color: blue;
}

.inputField {
    grid-area: postsInputField;
    background-color: blue;
    size: 100px;
}

.button {
    grid-area: postsButton;
    background-color: blue;
}

.posts {
    grid-area: contentPosts;
    background-color: brown;
    display: grid;
    grid-template-areas:
        "postsTitle postsTitle"
        "postsInputField postsButton"
        "postsMessages postsMessages";
    /* grid-auto-rows: 2fr 2fr 1fr 10fr; */
    grid-template-columns: 1fr 7.8fr;
    grid-template-rows: 1fr 1fr 10fr;
    border: solid;
}

.messages {
    display: inline;
    grid-area: postsMessages;
    background-color: blue;
    padding-top: 10px;
}

/*Posts*/